<footer class="footer">
    <div class="footer__container">
        <section class="footer__text">
            <h2 class="footer__title">Sobre</h2>
            <p classe="footer__about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta a debitis eaque minus dolore accusantium nesciunt consequatur nisi quod ipsum pariatur in est perferendis harum temporibus atque, doloremque dolores consequuntur.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp">(00) 0 0000-0000</i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
